<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    <%= link_to "Create New Post", new_article_path %>
    <h1>List of Articles</h1>
    <% @articles.each do |article| %>
        <strong><%= link_to article.title, article_path(article.id) %></strong>
        <p><%= truncate(article.content, length: 100) %></p>
         <br>
    <% end %>
</body>
</html>